[submodule ".registry"]
	path = .registry
	url = https://github.com/crewdecisions/crewdecisions.r-universe.dev
	branch = HEAD
[submodule "elicitr"]
	path = elicitr
	url = https://github.com/CREWdecisions/elicitr
